---
title: false
styles: true
---

@import "alembic";
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,300i,500,600&display=swap');
html {
  font-family: 'IBM Plex Mono', monospace
}
article li { margin-left: 8% !important;}
a img {
  transition: all ease-out 0.25s;
  margin-top: 8%;
  margin-left: 25%;
  margin-right: 25%;
  width: 55%;
}
a img:hover {
  opacity: 55%;
  border: 10px solid #dc2a2a;
  cursor: pointer !important;
}
.footnote {
  color: #dc2a2a;
  font-weight: 500;
}
.stream_only, .stream_only:hover {
  color: #3455db !important;
}
.borrow_only, .borrow_only:hover {
  color: #b500b5 !important;
}
.always_available, .always_available:hover {
  color: #1d781d !important;
}
a {
  text-decoration: none;
    color: #dc2a2a;
  &:hover {
    color: #800000;
    font-weight: 500;
  }
}
.logo, nav a {
  text-decoration: none;
    color: #dc2a2a;
  &:hover {
    color: #800000;
    font-weight: 500;
  }
}
.post-meta a {
   color: #800000;
   &:hover {
     color: #800000;
     text-decoration: underline;
     font-weight: 500;
   }
}
.time {
  color: #000;
  font-weight: 300;
}
